 h1{border-radius: 10px;
    text-align: center;
    background-image: linear-gradient(to right,rgb(119, 0, 255),rgb(0, 0, 0))
;
    padding: 40px;
    color: aliceblue;
    height: 120px;
margin: 0px 10px; }
nav{
    background-color: rgba(147, 43, 226, 0.311);
height: 50px;
display: flex;

justify-content: center;
border-radius: 10px;
margin: 5px 10px;
padding-bottom: 15px;
}

.para{
    padding-top: 40px;
    font-size: 15px;
   

}
nav a{text-decoration: none;
    
color: black;
font-size: 20px;
font-weight: bold;
padding-top: 15px;}

 
 
 
 .container{
            text-align: center;
            border: solid white;
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: 10px;
        }
        .jara{border: solid black;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
    }
    .jo{display: flex;
    flex-direction:column ;
justify-content: center;
align-items: center;
background-image: linear-gradient(to right,rgba(0, 110, 255, 0.879),rgba(0, 0, 0, 0.674));
border: solid;
margin: 10px;
border-radius: 10px;}
.footernav {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 60px;
    border-radius: 10px;
    padding-top: 40px;
}
h2{
    display: flex;
    gap: 10px;
    padding-bottom: 20px;
    text-align: center;
}
 